.cbdFeaturedProducts {
    background-color: $desertStorm;
    padding: 0 5px 120px 5px;

    &__wrapper {
        padding-top: 80px;
    }

    &__title {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 6px;
        padding-bottom: 70px;
    }
}

img[alt="star"] {
    width: 20px;
    height: 20px;
}

.rating {
    margin: 0 auto;
    width: 100px;
    height: 20px;
    position: relative;

    &__layer-1 {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 10;
        list-style: none;
    }

    &_star {
        display: block;
        width: 20px;
        height: 20px;
        cursor: pointer;
    }
}

.rating-10,
.rating-20,
.rating-30,
.rating-40,
.rating-50,
.rating-60,
.rating-70,
.rating-80,
.rating-90,
.rating-100 {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    list-style: none;
    overflow: hidden;
}

.rating-10 {
    width: 10%;

}

.rating-20 {
    width: 20%;
}

.rating-30 {
    width: 30%;
}

.rating-40 {
    width: 40%;
}

.rating-50 {
    width: 50%;
}

.rating-60 {
    width: 60%;
}

.rating-70 {
    width: 70%;
}

.rating-80 {
    width: 80%;
}

.rating-90 {
    width: 90%;
}

.rating-100 {
    width: 100%;
}

.card {
    background-color: $white;
    margin: 0 auto;
    max-width: 610px;

    &__wrapper {
        height: 430px;
        padding-top: 37px;
        padding-bottom: 40px;
        border: 1px solid $swampGreen;
    }

    &__name {
        padding-top: 10px;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2.5px;
        padding-bottom: 35px;
    }

    &__image {
        display: block;
        padding: 20px;
        height: 300px;

        & img {
            margin: 0 auto;
            max-width: 100%;
            max-height: 100%;
        }
    }

    &__bottom {
        height: 75px;
        display: flex;
        justify-content: space-between;

        &_wrapper {
            background-color: $Concrete;
            border-left: 1px solid $loblolly;
            border-bottom: 1px solid $loblolly;
            width: 100%;
        }

        &_price {
            display: block;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 3px;
            padding-left: 25px;
            margin-top: 23px;
        }
    }

    &__buy {
        width: 187px;
        height: 100%;
        background-color: $goBen;
        color: $white;
        text-transform: uppercase;
        font-size: 20px;
        position: relative;
        text-align: start;
        padding-left: 40px;
        letter-spacing: 3.3px;
        border: none;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            top: 38px;
            right: 35px;
            width: 45px;
            height: 2px;
            background-color: $white;
        }
    }
}

.slick-prev {
    position: absolute;
    top: 565px;
    left: 50%;
    transform: translateX(-65px);
    background-image: url(../images/arrow-Left.svg);
    width: 40px;
    z-index: 100;

    &::before {
        content: '';
    }

    &:hover,
    &:not(:hover) {
        background-image: url(../images/arrow-Left.svg);
    }

    &:hover {
        transform: translateX(-100px);
        width: 75px;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out;
    }

}

.slick-next {
    position: absolute;
    top: 565px;
    left: 50%;
    transform: translateX(40px);
    background-image: url(../images/arrow-Right.svg);
    width: 40px;

    &::before {
        content: '';
    }

    &:hover,
    &:not(:hover) {
        background-image: url(../images/arrow-Right.svg);
    }

    &:hover {
        width: 75px;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out;
        background-position: 32px;
    }
}
