.cbdFeaturedProducts {
    background-color: $desertStorm;
    padding-bottom: 120px;

    &__wrapper {
        padding-top: 80px;
    }

    &__title {
        font-size: 30px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 6px;
        padding-bottom: 70px;
    }
}

img[alt="star"] {
    width: 20px;
    height: 20px;
}

.rating {
    margin: 0 auto;
    width: 100px;
    height: 20px;
    // border: 1px solid red;
    position: relative;

    &__layer-1 {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 100%;
        z-index: 10;
        list-style: none;
        // border: 1px solid yellow;
    }

    &_star {
        display: block;
        // padding: 1px;
        width: 20px;
        height: 20px;
        cursor: pointer;
        // border: 1px solid grey;
    }

    &__layer-2 {
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        height: 100%;
        list-style: none;
        // width: 50%;
        overflow: hidden;
    }
}


.card {
    background-color: $white;
    margin: 0 auto;
    max-width: 610px;

    &__wrapper {
        padding-top: 37px;
        padding-bottom: 40px;
        border: 1px solid $swampGreen;
    }

    &__name {
        padding-top: 10px;
        font-size: 18px;
        font-weight: 400;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2.5px;
        padding-bottom: 35px;
    }

    &__image {
        margin: 0 auto;
        height: 260px;
        width: 400px;

        & img {
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }

    &__bottom {
        height: 75px;
        display: flex;
        justify-content: space-between;


        &_wrapper {
            background-color: $Concrete;
            border-left: 1px solid $loblolly;
            border-bottom: 1px solid $loblolly;
            width: 100%;
        }

        &_price {
            display: block;
            font-size: 18px;
            font-weight: 400;
            letter-spacing: 3px;
            padding-left: 25px;
            margin-top: 23px;
        }
    }

    &__buy {
        width: 187px;
        height: 100%;
        background-color: $goBen;
        color: $white;
        text-transform: uppercase;
        font-size: 20px;
        position: relative;
        text-align: start;
        padding-left: 40px;
        letter-spacing: 3.3px;
        border: none;
        cursor: pointer;

        &::after {
            position: absolute;
            content: '';
            top: 38px;
            right: 35px;
            width: 45px;
            height: 2px;
            background-color: $white;
        }
    }
}

.slick-prev {
    position: absolute;
    top: 565px;
    left: 50%;
    transform: translateX(-65px);
    background-image: url(../images/arrow-Left.svg);
    width: 40px;
    z-index: 100;

    &::before {
        content: '';
    }

    &:hover,
    &:not(:hover) {
        background-image: url(../images/arrow-Left.svg);
    }

    &:hover {
        transform: translateX(-100px);
        width: 75px;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out;
    }

}

.slick-next {
    position: absolute;
    top: 565px;
    left: 50%;
    transform: translateX(40px);
    // z-index: 100;
    background-image: url(../images/arrow-Right.svg);
    width: 40px;

    &::before {
        content: '';
    }

    &:hover,
    &:not(:hover) {
        background-image: url(../images/arrow-Right.svg);
    }

    &:hover {
        // transform: translateX(75px);
        width: 75px;
        background-repeat: no-repeat;
        transition: all .2s ease-in-out;
        background-position: 32px;
    }
}
