.cbdAbout {
    padding-top: 100px;
    background-color: $desertStorm;

    &__container {
        padding-right: 0;
    }

    &__header {
        margin: 0 auto;
        max-width: 690px;
        height: 200px;
        @include bgCover('../images/cdbAbout_frame.png');
        padding-top: 40px;
        background-size: 100%;

        &_text {
            font-size: 24px;
            text-transform: uppercase;
            text-align: center;
            letter-spacing: 5px;
            font-weight: 400;
        }
    }

    &__tabs {

        &_wrapper {
            margin-left: 105px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            padding-top: 106px;
            padding-bottom: 11px;
            border-bottom: 2px solid $swampGreen;

            &>input[type="radio"] {
                display: none;
            }
        }

        &_input {
            cursor: pointer;
            position: relative;
            display: block;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 30px;
            font-weight: 400;
            color: black;
            letter-spacing: 3px;

            @media(max-width:992px) {
                font-size: 26px;
                letter-spacing: 1px;
            }

            &::after {
                position: absolute;
                content: '';
                bottom: -13px;
                left: 50%;
                transform: translateX(-50%);
                width: 0;
                height: 2px;
                transition: all .2s ease-in-out;
                background-color: black;

                @media(max-width:768px) {
                    bottom: -17px;
                }
            }

            &:hover::after {
                position: absolute;
                content: '';
                bottom: -13px;
                left: 50%;
                transform: translateX(-50%);
                width: 195px;
                height: 2px;
                transition: all .2s ease-in-out;
                background-color: black;

                @media(max-width:768px) {
                    bottom: -17px;
                    width: 165px;
                }
            }
        }
    }

    &__frame {
        display: none;
        padding-right: 8px;

        &_info-wrapper {
            max-width: 470px;
            margin: 0 auto;
            text-align: start;
            padding-left: 55px;
            padding-top: 98px;

            @media(max-width:992px) {
                padding-top: 20px;
            }
        }

        &_info-title {
            padding-right: 110px;
            font-size: 24px;
            font-weight: 400;
            text-transform: uppercase;
            letter-spacing: 5px;
            line-height: 40px;
            padding-bottom: 26px;
        }

        &_info-text {
            font-size: 18px;
            color: $goBen;
            letter-spacing: .7px;
            line-height: 40px;
        }
    }

    &__frame_foto {
        padding-top: 80px;

        &-wrapper {
            padding: 0 0 30px 0;
            max-height: 330px;
            width: 100%;

            & img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }
        }
    }

}

@media(max-width:768px) {
    .cbdAbout__tabs_wrapper {
        margin: 0 auto;
        padding: 15px;
    }

    .cbdAbout__tabs_input {
        font-size: 20px;
    }

    .cbdAbout__frame_info-title {
        font-size: 20px;
        letter-spacing: 1px;
    }
}

.cbdAbout__tabs_wrapper>input:checked+.cbdAbout__tabs_input::after {
    position: absolute;
    content: '';
    bottom: -13px;
    left: 50%;
    transform: translateX(-50%);
    width: 195px;
    height: 2px;
    transition: all .2s ease-in-out;
    background-color: black;

    @media(max-width:768px) {
        bottom: -17px;
        width: 30vw;
    }
}

.cbdAbout__tabs .hide {
    display: none;
}

.cbdAbout__tabs .show {
    display: block;
}

@media(max-width:576px) {
    .cbdAbout__header {
        padding-top: 5vw;
        height: 30vw;

        &_text {
            font-size: 4vw;
        }
    }

    .cbdAbout__tabs_input {
        font-size: 4vw;
    }
}
